# =========================================================
# DATABASE
# =========================================================

DB_USERNAME=root

DB_PASSWORD=yourpassword


# =========================================================
# GMAIL SMTP
# =========================================================

MAIL_USERNAME=your_gmail@gmail.com

MAIL_PASSWORD=your_gmail_app_password


# =========================================================
# CLOUDINARY
# =========================================================

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name

CLOUDINARY_API_KEY=your_cloudinary_api_key

CLOUDINARY_API_SECRET=your_cloudinary_api_secret


# =========================================================
# DEFAULT ADMIN
# =========================================================

ADMIN_EMAIL=admin@example.com

ADMIN_PASSWORD=123456
